* {
	box-sizing: border-box;
}

body {
	font-family: "Glegoo", serif;
}

.clearfix {
	clear: both;
}

a {
	text-decoration: none;
	color: lightgray;
}

/* les pseudo-classes ont un ordre de definition : LVAH 
 * [L]ink (par défaut ) -> a
 * [V]isited -> a:visited
 * [A]ctive -> a:active
 * [H]over -> a:hover
*/
a:visited, a:active, a:hover {
	color: darkgray;
}

a:hover {
    text-decoration: underline;
}
