@font-face {
  font-family: "Glegoo";
  font-style: normal;
  font-weight: 400;
  src: local("Glegoo"), local("Glegoo-Regular"), url(../../fonts/Glegoo-Regular.ttf),  url(http://fonts.gstatic.com/s/glegoo/v5/HlaektNAGXsvMSzJmADIXOvvDin1pK8aKteLpeZ5c0A.woff) format("woff");
}
