.blog__main {

}

.blog__page-title {
	width: 940px;
	margin: 0 auto;
}

.blog__article-summary {
    margin-bottom: 40px;
    padding-right: 80px;
}

.blog__article-thumbnail {
	float: left;
	margin-right: 20px;
}

