.blog__main {

}

.blog__page-title {
	width: 940px;
	margin: 0 auto;
}

.blog__article-summary {
    margin-bottom: 40px;
    padding-right: 80px;
}

.blog__article-thumbnail {
	float: left;
	margin-right: 20px;
}

/* 
Modification du style du lien 
 - suppression du souligné
 - 
*/
.blog__article-link {
	text-decoration: none;
}

.blog__article-link::after {
  content: ">";
  font-size: 120%;
  padding-left: 0.5em;
}

