.blog__sidebar {

}

.block {
  margin-bottom: 20px;
	border: thin solid red;
}

.block-title {
  /* font-size: 18px; */
	font-size: 130%;
}

.categories__list {
  padding-left: 20px;
	list-style-type: square;
}

.categories__item {

}

.categories__link {

}

.article__most-viewed-list {}

.article__most-viewed-item {
	margin-bottom: 20px;
}

.article__most-viewed-link {
	text-decoration: none;
  color: gray;
  background-color: black;
}

.image__wrapper {
	float: left;
	width: 120px;
	text-align: center;
	background: rgb(238, 238, 242);
	margin-right: 20px;
}

.image__wrapper img {
	padding-top: 10px;
}

.comment__profile-link {
  display: block;
	color: black;
	text-decoration: none;
}

.avatar {
	float: left;
	margin-right: 20px;
}

.comment__info .date, .comment__info .author {
	display: block;
}

.comment__link {
	display: block;
	color: black;
	text-decoration: none;
}
