.blog__sidebar {

}

.block {
  margin-bottom: 20px;
	border: thin solid red;
}

.block-title {
  /* font-size: 18px; */
	font-size: 130%;
}

.categories__list {
  padding-left: 20px;
	list-style-type: square;
}

.categories__item {

}

.categories__link {

}

	
}
